@font-face {
  font-family: "Zen Kaku Gothic Antique";
  src: url("@fontsource/zen-kaku-gothic-antique/files/zen-kaku-gothic-antique-japanese-700-normal.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Zen Kaku Gothic Antique";
  src: url("@fontsource/zen-kaku-gothic-antique/files/zen-kaku-gothic-antique-japanese-900-normal.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
